<footer class="footer mt-auto py-3 bg-light fixed-bottom"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="footer" style="background: rgba(75,148,33,0.9) !important;">

  <div class="container text-center">
    <span class="text-muted" style="color: whitesmoke !important;">© 2023 Copyright Alex-Bog</span>
  </div>

</footer>

