<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить объект</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить объект</h3>
<!--    enctype="multipart/form-data" Если нужно передавать файл -->
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/edifices/add}" th:object="${edificeForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="edificeTitle" type="text" class="form-control" id="title"
                           placeholder="Название объекта" required>
                    <label for="title">Название</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="typeEdifice" id="typeEdifice" required>
                        <option selected value="default">Выберете тип объекта из списка</option>
                        <option th:each="typeEdifice : ${T(com.sber.java13graduationproject.model.TypeEdifice).values()}"
                                th:value="${typeEdifice}" th:text="${typeEdifice.getTypeEdificeTextDisplay()}"></option>
                    </select>
                    <label for="typeEdifice">Тип объекта</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="description" type="text" class="form-control" id="description"
                              placeholder="Описание"></textarea>
                    <label for="description">Описание</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="typePrice" id="typePrice" required>
                        <option selected value="default">Выберете форму стоимости из списка</option>
                        <option th:each="typePrice : ${T(com.sber.java13graduationproject.model.TypePrice).values()}"
                                th:value="${typePrice}" th:text="${typePrice.getTypePriceTextDisplay()}"></option>
                    </select>
                    <label for="typePrice">Форма стоимости</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="priceEdifice" type="number" class="form-control" id="priceEdifice" placeholder="Сумма"
                           value="1" required>
                    <label for="priceEdifice">Сумма</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>