<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр объекта</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3 th:text="'Информация об объекте: ' + ${edifice.getEdificeTitle()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="edificeTitle" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${edifice.getEdificeTitle()}" type="text" readonly class="form-control-plaintext"
                       id="edificeTitle">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="typeEdifice" class="col-sm-2 col-form-label">Тип объекта:</label>
                <div class="col-sm-10">
                    <p th:text="${edifice.getTypeEdifice().getTypeEdificeTextDisplay()}"
                       class="form-control-plaintext" id="typeEdifice">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="desc" class="col-sm-2 col-form-label">Описание: </label>
                <div class="col-sm-10">
                    <p th:text="${edifice.getDescription()}" class="form-control-plaintext" id="desc">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="typePrice" class="col-sm-2 col-form-label">Форма стоимости:</label>
                <div class="col-sm-10">
                    <p th:text="${edifice.getTypePrice().getTypePriceTextDisplay()}"
                       class="form-control-plaintext" id="typePrice">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="price" class="col-sm-2 col-form-label">Стоимость:</label>
                <div class="col-sm-10">
                    <p th:text="${edifice.getPriceEdifice()}" class="form-control-plaintext" id="price">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="row g-1" sec:authorize="(hasRole('USER'))">
            <div class="col">
                <a class="btn btn-primary" th:href="'/bookings/edifices/' + ${edifice.id}">Арендовать объект</a>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            </div>
        </div>
        <form class="row g-1" sec:authorize="(hasRole('ADMIN') || hasRole('MANAGER'))">
            <h4 class="mt-3 mb-3" th:text="'Информация об аренде(ах)'"></h4>
            <select class="form-select btn-outline-success border-success col">
                <option selected th:value="${null}">Список аренд</option>
                <option
                        th:each="booking : ${edifice.getBookings()}" class="mb-2 row">
                    <div class="col-md row">
                        <label for="id" class="col-sm-2 col-form-label">ID:</label>
                        <div class="col-sm-10">
                            <a class="text-link text-blue" th:href="'/bookings/edifices/' + ${booking.getId()}"
                               th:text="${booking.getId()}" id="id"></a>
                        </div>
                    </div>
                    <div class="col-md row">
                        <label for="rent_date" class="col-sm-2 col-form-label">Дата заказа: </label>
                        <div class="col-sm-10">
                            <p th:text="${booking.getRentDate()}" class="form-control-plaintext" id="rent_date">
                        </div>
                    </div>
                </option>
            </select>
            <div class="mb-2 col"></div>
            <hr class="hr mt-3"/>
            <div class="row g-1">
                <button type="button" class="btn btn-secondary col" onclick="window.history.back()">Назад</button>
                <div class="mb-2 col"></div>
            </div>
        </form>
    </div>
</form>
</body>
</html>
