<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить услугу</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить услугу</h3>
<!--    enctype="multipart/form-data" Если нужно передавать файл -->
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/addServices/add}" th:object="${addServiceForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="addServiceTitle" type="text" class="form-control" id="title"
                           placeholder="Название услуги" required>
                    <label for="title">Название</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="typeService" id="typeService" required>
                        <option selected value="default">Выберете тип услуги из списка</option>
                        <option th:each="typeService : ${T(com.sber.java13graduationproject.model.TypeService).values()}"
                                th:value="${typeService}" th:text="${typeService.getTypeServiceTextDisplay()}"></option>
                    </select>
                    <label for="typeService">Тип объекта</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="typePrice" id="typePrice" required>
                        <option selected value="default">Выберете форму стоимости из списка</option>
                        <option th:each="typePrice : ${T(com.sber.java13graduationproject.model.TypePrice).values()}"
                                th:value="${typePrice}" th:text="${typePrice.getTypePriceTextDisplay()}"></option>
                    </select>
                    <label for="typePrice">Форма стоимости</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="priceService" type="number" class="form-control" id="priceService" placeholder="Стоимость"
                           value="1" required>
                    <label for="priceService">Стоимость</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>