<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
        <script th:inline="javascript">
            let flag = [[${exception}]];//переменная-флаг в thymeleaf
            window.onload = () => {
                if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
            };
        </script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск услуги</h3>
        <form method="POST" th:action="@{/addServices/search}" th:object="${addServiceSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                        <input name="addServiceTitle" type="text" class="form-control" id="title"
                               placeholder="Название услуги">
                        <label for="title">Название</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="typeService" id="typeService">
                            <option selected th:value="null">Выберете тип объекта из списка</option>
                            <option th:each="typeService : ${T(com.sber.java13graduationproject.model.TypeService).values()}"
                                    th:value="${typeService}"
                                    th:text="${typeService.getTypeServiceTextDisplay()}"></option>
                        </select>
                        <label for="typeService">Тип услуги</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти услугу</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все услуги</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
                   href="addServices/add"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить услугу</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Тип услуги</th>
                    <th scope="col">Форма стоимости</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Заказ(ы)</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="addService : ${addServices}" th:if="${!addService.isDeleted()}">
                    <td>
                        <a class="text-link text-blue" th:href="'/addServices/' + ${addService.getId()}"
                           th:text="${addService.getAddServiceTitle()}"></a>
                    </td>
                    <td th:text="${addService.getTypeService().getTypeServiceTextDisplay()}"></td>
                    <td th:text="${addService.getTypePrice().getTypePriceTextDisplay()}"></td>
                    <td th:text="${addService.getPriceService()}"></td>
                    <td>
                        <select type="button" class="btn btn-outline-info" aria-expanded="false">
                            <option selected th:value="${null}">Список заказов</option>
                            <option
                                    th:each="booking: ${addService.getBookings()}"
                                    th:href="'/bookings/edifices/' + ${booking.getId()}"
                                    th:value="${booking.getId()}"
                                    th:text="${booking.getId()}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
                            <a class="btn btn-sm btn-outline-success" th:href="'/addServices/update/' + ${addService.id}">Обновить</a>
                            <a th:if="${!addService.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/addServices/delete/' + ${addService.id}"
                               onclick="return confirm('Вы действительно хотите удалить услугу?')">Удалить</a>
                            <a th:if="${addService.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/addServices/restore/' + ${addService.getId()}">Восстановить</a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr th:each="addService : ${addServices}" th:if="${addService.isDeleted()}" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                    <td>
                        <a class="text-link text-blue" th:href="'/addServices/' + ${addService.getId()}"
                           th:text="${addService.getAddServiceTitle()}"></a>
                    </td>
                    <td th:text="${addService.getTypeService().getTypeServiceTextDisplay()}"></td>
                    <td th:text="${addService.getTypePrice().getTypePriceTextDisplay()}"></td>
                    <td th:text="${addService.getPriceService()}"></td>
                    <td>
                        <ul>
                            <li th:each="booking : ${addService.getBookings()}" class="number-link text-blue" th:href="'/bookings/' + ${booking.getId()}" th:text="${booking.getId()}"></li>
                        </ul>
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
                            <a class="btn btn-sm btn-outline-success" th:href="'/addServices/update/' + ${addService.id}">Обновить</a>
                            <a th:if="${addService.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/addServices/restore/' + ${addService.getId()}">Восстановить</a>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->
        <div>
            <nav aria-label="Pagination" th:if="${addServices.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${addServices.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/addServices?page={id}(id=${addServices.number lt 2 ? 1 : addServices.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq addServices.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, addServices.totalPages, 1)}">
                        <a class="page-link" th:href="@{/addServices?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${addServices.number eq addServices.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/addServices?page={id}(id=${addServices.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>