<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр услуги</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3 th:text="'Информация об услуге: ' + ${addService.getAddServiceTitle()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="addServiceTitle" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${addService.getAddServiceTitle()}" type="text" readonly class="form-control-plaintext"
                       id="addServiceTitle">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="typeService" class="col-sm-2 col-form-label">Тип услуги:</label>
                <div class="col-sm-10">
                    <p th:text="${addService.getTypeService().getTypeServiceTextDisplay()}"
                       class="form-control-plaintext" id="typeService">
                </div>
            </div>
            <div class="mb-2 row">

                <label for="typePrice" class="col-sm-2 col-form-label">Форма стоимости:</label>
                <div class="col-sm-10">
                    <p th:text="${addService.getTypePrice().getTypePriceTextDisplay()}"
                       class="form-control-plaintext" id="typePrice">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="price" class="col-sm-2 col-form-label">Стоимость:</label>
                <div class="col-sm-10">
                    <p th:text="${addService.getPriceService()}" class="form-control-plaintext" id="price">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <form class="row g-1" sec:authorize="(hasRole('ADMIN') || hasRole('MANAGER'))">
            <h4 class="mt-3 mb-3" th:text="'Информация об аренде(ах)'"></h4>
            <div th:each="booking : ${addService.getBookings()}" class="mb-2 row">
                <div class="col-md row">
                    <label for="id" class="col-sm-2 col-form-label">ID:</label>
                    <div class="col-sm-10">
                        <a class="text-link text-blue" th:href="'/bookings/' + ${booking.getId()}"
                           th:text="${booking.getId()}" id="id"></a>
                    </div>
                </div>
                <div class="col-md row">
                    <label for="rent_date" class="col-sm-2 col-form-label">Дата заказа:</label>
                    <div class="col-sm-10">
                        <p th:text="${booking.getRentDate()}" class="form-control-plaintext" id="rent_date">
                    </div>
                </div>
                <hr class="hr"/>
            </div>
        </form>
        <div class="mt-2">
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>
