<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить файл</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Добавить файл в заказ ' + ${bookingFile.getId()}"></h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{'/bookings/edifices/addFile/' + ${bookingFile.getId()}}" th:object="${bookingFileForm}">
        <input type="hidden" name="id" th:value="${bookingFile.getId()}">
        <div class="mt-3 form-floating">
            <input type="hidden" th:value="${bookingFile.getOnlineCopyPath()}" name="onlineCopyPath" class="form-control form-control-sm">
            <input name="file" type="file" class="form-control form-control-sm" id="onlineCopy" placeholder="Онлайн копия файла" style="padding-top: 2rem;">
            <label for="onlineCopy">Онлайн копия</label>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>