<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Добавить услугу к заказу</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Добавить услугу к заказу: ' + ${booking.getId()}"></h3>
  <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{'/bookings/add-service/' + ${booking.getId()}}" th:object="${bookingServiceForm}">
    <input type="hidden" name="bookingId" th:value="${bookingId}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <!--TODO: Посмотреть в сторону select списка с вводом-->
          <select class="form-select" name="id" id="addServiceTitle" required>
            <option selected th:value="${null}">Выберете услугу</option>
            <option
                    th:each="addService : ${addServices}"
                    th:value="${addService.getId()}"
                    th:text="${addService.getAddServiceTitle()} + ' ' + ${addService.getPriceService()} +' у.е '+ ${addService.getTypePrice().getTypePriceTextDisplay()}">
            </option>
          </select>
          <label for="addServiceTitle">Название услуги</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>