<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить гостя к заказу</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Добавить гостя к заказу: ' + ${booking.getId()}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{'/bookings/add-user/' + ${booking.getId()}}" th:object="${bookingUserForm}">
        <input type="hidden" name="bookingId" th:value="${bookingId}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--TODO: Посмотреть в сторону select списка с вводом-->
                    <select class="form-select" name="id" id="addServiceTitle">
                        <option selected th:value="${null}">Выберете гостя</option>
                        <option
                                th:each="user : ${bookingUsers}"
                                th:value="${user.getId()}"
                                th:text="${user.getFirstName()} + ' ' + ${user.getLastName()} + ' phone: '+${user.getPhone()}">
                        </option>
                    </select>
                    <label for="addServiceTitle">Список гостей</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>