<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заказа</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h1 th:text="'Информация о заказе: ' + ${booking.getId()}"></h1>
        <hr class="hr"/>
        <form class="row g-1" enctype="multipart/form-data">
            <div class="mb-2 row">
                <label for="obj" class="col-sm-2 col-form-label">Объект:</label>
                <div class="col-sm-10">
                    <a class="text-link text-blue" th:href="'/edifices/' + ${booking.getEdificeDTO().getId()}"
                       th:text="${booking.getEdificeDTO().getEdificeTitle()}" id="obj"></a>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="rentDate" class="col-sm-2 col-form-label">Дата заселения:</label>
                <div class="col-sm-10">
                    <p th:text="${#temporals.format(booking.getRentDate(), 'dd-MM-yyyy')}"
                       class="form-control-plaintext" id="rentDate">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="returnDate" class="col-sm-2 col-form-label">Дата выезда:</label>
                <div class="col-sm-10">
                    <p th:text="${#temporals.format(booking.getReturnDate(), 'dd-MM-yyyy')}"
                       class="form-control-plaintext" id="returnDate">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="pr" class="col-sm-2 col-form-label">Стоимость: </label>
                <div class="col-sm-10">
                    <p th:text="${booking.getPriceBooking()}"
                       class="form-control-plaintext" id="pr">
                </div>
            </div>
            <div class="mb-2 row" sec:authorize="isAuthenticated() && hasRole('USER')">
                <a class="text-link text-blue" th:if="${booking.getOnlineCopyPath()} != null" th:href="@{|/bookings/download?bookingId=${booking.id}|}">
                    <span>Скачать файл заказа</span>
                </a>
            </div>
            <div class="mb-2 row" sec:authorize="isAuthenticated() && hasRole('MANAGER')">
                <div>
                    <a class="btn btn-outline-primary border-primary" th:href="'/bookings/edifices/addFile/' + ${booking.getId()}">Добавить файл заказа</a>
                </div>
                <div class="mb-2 col"></div>
            </div>
            <hr class="hr"/>
            <div class="mb-2 row">
                <div class="mb-2 col">
                    <div class="mb-2 row">
                        <select class="btn btn-outline-success border-success btn-lg" name="id" id="bookTitle">
                            <option selected th:value="${null}">Список услуг</option>
                            <option
                                    th:each="adservd: ${booking.getAddServices()}"
                                    th:value="${adservd.getId()}"
                                    th:text="${adservd.getAddServiceTitle()}">
                            </option>
                        </select>
                    </div>
                    <hr class="hr"/>
                    <div class="mb-2 row">
                        <select class="btn btn-outline-warning border-warning btn-lg" name="id" id="user" required>
                            <option selected th:value="${null}">Список гостей</option>
                            <option
                                    th:each="usd: ${booking.getUsers()}"
                                    th:value="${usd.getId()}"
                                    th:text="${usd.getFirstName() + ' ' + usd.getLastName()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-2 col"></div>
            </div>
        </form>
        <hr class="hr"/>
        <div>
            <button type="button" class="btn btn-outline-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>