<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Арендовать объект</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Аренда объекта ' + ${edifice.getEdificeTitle()}"></h3>
  <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/bookings/edifices}" th:object="${rentEdificeForm}">
    <input type="hidden" name="edificeId" th:value="${edifice.getId()}">
    <div class="mt-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Описание</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${edifice.getDescription()}">
      </div>
    </div>
    <div class="mt-3 row g-2">
        <div class="mt-3 col g-2 form-floating">
          <input name="rentDate" type="date" class="form-control" id="rentDate"
                 placeholder="Введите дату заселения" required>
          <label for="rentDate">Дата заселения</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('rentDate')}">
            <p th:errors="*{rentDate}"></p>
          </div>
        </div>
        <div class="mt-3 col g-2 form-floating">
          <input name="returnDate" type="date" class="form-control" id="returnDate"
                 placeholder="Введите дату выезда" required>
          <label for="returnDate">Дата выезда</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('returnDate')}">
            <p th:errors="*{returnDate}"></p>
          </div>
        </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Арендовать</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
    <div>
      <table class="table table-hover mt-3" th:object="${rentAll}">
        <thead>
        <tr>
          <th scope="col">Дата заселения</th>
          <th scope="col">Дата выезда</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking: ${rentAll}">
          <td th:text="${#temporals.format(booking.getRentDate(), 'dd-MM-yyyy')}"></td>
          <td th:text="${#temporals.format(booking.getReturnDate(), 'dd-MM-yyyy')}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
</body>
</html>