<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои аренды</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1>Мои аренды</h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Объект</th>
                <th scope="col">Дата заселения</th>
                <th scope="col">Дата выезда</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Список услуг</th>
                <th scope="col">Список гостей</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking: ${bookingsEdifices}">
                <td>
                    <a class="text-link text-blue" th:href="'/bookings/' + ${booking.getId()}"
                       th:text="${booking.getId()}" id="id"></a>
                </td>
                <td>
                    <span>
                     <a class="text-link text-blue" th:href="'/edifices/' + ${booking.getEdificeDTO().getId()}"
                        th:text="${booking.getEdificeDTO().getEdificeTitle()}"></a>
                    </span>
                </td>
                <td th:text="${#temporals.format(booking.getRentDate(), 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(booking.getReturnDate(), 'dd-MM-yyyy')}"></td>
                <td th:text="${booking.getPriceBooking()}"></td>
                <td style="width: 180px">
                    <select class="form-select btn-outline-success border-success"id="bookTitle" required>
                        <option selected th:value="${null}">Список услуг</option>
                        <option
                                th:each="adservd: ${booking.getAddServices()}"
                                th:value="${adservd.getId()}"
                                th:text="${adservd.getAddServiceTitle()}">
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-select btn-outline-warning border-warning" name="id" id="user" required>
                        <option selected th:value="${null}">Список гостей</option>
                        <option
                                th:each="usd: ${booking.getUsers()}"
                                th:value="${usd.getId()}"
                                th:text="${usd.getFirstName() + ' ' + usd.getLastName()}">
                        </option>
                    </select>
                </td>
                <td>
                    <a class="btn btn btn-outline-success border-success" th:href="'/bookings/add-service/' + ${booking.getId()}"
                       onclick="return confirm('Вы действительно хотите добавить услугу?')">Добавить услугу</a>
                </td>
                <td>
                    <a class="btn btn btn-outline-warning border-warning" th:href="'/bookings/add-user/' + ${booking.getId()}"
                       onclick="return confirm('Вы действительно хотите добавить гостя?')">Добавить гостя</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button sec:authorize="isAuthenticated() && (hasRole('ADMIN'))" type="button" class="btn btn-secondary"
                onclick="window.history.back()">Назад
        </button>
    </div>

    <nav aria-label="Pagination" th:if="${bookingsEdifices.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${bookingsEdifices.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="'/bookings/user-edifices/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${userId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${bookingsEdifices.number lt 2 ? 1 : bookingsEdifices.number}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, bookingsEdifices.totalPages, 1)}"
                th:classappend="${i eq bookingsEdifices.number + 1} ? 'active'">
                <a class="page-link" th:href="'/bookings/user-edifices/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${userId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${i}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item"
                th:classappend="${bookingsEdifices.number eq bookingsEdifices.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="'/bookings/user-edifices/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${userId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${bookingsEdifices.number + 2}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>